.App {
  max-width: 50rem;
  margin: 0 auto;
}

.App__nav {
  margin: 1rem;
  padding: .5rem;
  border-bottom: .2rem solid #e67e22;
}

.App__nav ul {
  padding: 0;
  margin: 0;
}

.App__nav-item {
  list-style: none;
  display: inline-block;
  margin-right: 2.5rem;
  font-size: 1.6rem;
  border-bottom: 4px solid transparent;
}

.App__content {
  margin: 0 1rem;
}

.App__nav-item a {
  cursor: pointer;
}
.App__nav-item a:hover {
  color: #bdc3c7;
}
.App__nav-item.selected {
  border-bottom-color: #2ecc71;
}